*~
*.bk
*.log
*.d.ts
*.js

coverage/
lib
node_modules/
npm-debug.log
pid/

.project
.settings
.directory
.nyc_output
.idea
.vscode

!.eslintrc.js
!bulkElasticSearchInsert.js
!setupTopics.js
!triggerInvoices.js
!triggerInvoice_job.js
!jest.config.js